body {
  background-color: #424242;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
tr.negative {
  background-color: rgba(255, 0, 0, 0.178);
}
tr.positive {
  background-color: rgba(0, 128, 0, 0.151);
}
a {
  color: white;
}
tr {
  background-color: #34495e;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}
th {
  background-color: #1b2530;
}
.crypto-header {
  color: #3498db;
}
}
