body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header {
  background-color: #424242;
  color: white;
}

.show {
  display: block;
}
.edit-popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  color: white;
  padding: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  text-align: center;
  background-color: #34495e;
}
.hide {
  display: none;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  background-color: #34495e;
}
.list li {
  list-style-type: none;
}
nav li {
  list-style-type: none;
}
nav ul {
  display: flex;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #424242;
}
a {
  color: white;
}
nav ul {
  display: flex;
  gap: 10px;
  margin-right: 35px;
}
nav li {
  list-style-type: none;
  font-size: larger;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
input {
  background-color: transparent;
  outline: none;
  border: 1px solid #3498db;
  height: 30px;
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}
input::placeholder {
  color: rgb(189, 187, 187);
}
input:focus {
  border: 1.5px solid #3498db;
}
form {
  padding-right: 25px;
}
button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.items button {
  margin-left: 10px;
}
.edit-popup button {
  margin-left: 0px;
}
